.container {
  height: 70%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.table-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  border-top: none;
  position: relative;
}

table td {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

table td:last-child {
  border-right: 1px solid black;
}

table tr {
  height: 40px;
}

table *:not(tfoot) tr:last-child td {
  border-bottom: none;
}

table {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
}

table tfoot {
  width: 100%;
  position: sticky;
  bottom: 0;
  background: white;
}

table.empty {
  height: 100%;
}

tbody tr:first-child td {
  border-top: none;
}

td:first-child{
  border-right: none;
}

th {
  top: 0;
  background: white;
  position: sticky;
  border: 1px solid black;
  border-right: none;
}

th:last-child {
  border-right: 1px solid black;
}

tfoot td {
  border-top: 1px solid black;
}

